body {
    background-color: #ddd;
}

table {
  width: 70%;
}

th {
  background-color: #444;
  color: white;
}

th, td {
  border-bottom: 1px solid #999;
}

td:hover {
    background-color: #bbb;
}

