body {
    background-color: rgb(100,220,255);
}

table {
  width: 80%;
}

th {
  background-color: rgb(0,170,255);
  color: white;
}

th, td {
  border-bottom: 1px solid #06a;
}

td:hover {
    background-color: rgb(50,200,255);
}

